.features-section {
  .features-section-title {
    margin-bottom: 2rem;
  }
}

.features-grid {
  .feature-title, .feature-description {
    font-family: $font-family-satoshi;
  }

  .feature-img {
    width: 100%;
  }
}